

.App-link {
  color: rgba(238, 240, 235, 0.955);
}

.rightContent-navBar{
  margin-left: auto;
}
/* about/footer style */
.footer {
  background-color :transparent;
  color: inherit;
  padding: 20px;
  position: sticky;
  /* display: flex;
  justify-content: space-around; */
}

.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* flex-direction: column; Arrange items in a column */
  align-items: flex-start; /* Center align items horizontally */
  /* text-align: center; Center align text */
}

.footer-item{
  order: 1;
  font-weight: 100;
}

/* home styles */
 .products-content{
  text-align: center;
  width: fit-content;
  /* margin-left: 100px; */
  margin: 10px;
  
 }

.card-container{
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 15px;
  align-content: center;

}

/* navBar */

.navBar{
  margin: auto;
}

.cardContent{
  
  background-color: rgba(30, 28, 28, 0.991);
}




