body, html {
  margin: 0;
  padding: 0;
}

.App-link {
  color: rgba(238, 240, 235, 0.955);
}

.rightContent-navBar{
  margin-left: auto;
}
/* about/footer style */

.footer {
  background-color: rgba(23, 22, 22, 0.991);
  color: inherit;
  padding: 20px;
  position: relative;
  font-family: 'roboto';
  margin: auto;
  width:100vw ;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.social-icon {
  margin: 0 10px; 
  color: white;
  transition: color 0.3s ease;
  border-radius: 50px;
  background-color: rgba(30, 28, 28, 0.991);
  
}

.instagram {
  color: white;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.whatsapp {
  color: white;
}

.instagram:hover {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  
}

.whatsapp:hover {
  background: #00cc66;
}

.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 10px;
  align-items: flex-start; 
  
}

.footer-item{
  order: 1;
  font-weight: 100;
}

/* home styles */
.head{
  text-align: right;
}

.warning{
  margin-top: 90px;
  font-size: medium;
  font-family: 'roboto';
  padding: 10px;
  display: block;
  /* margin: 0; */
}
.warning h1{
  margin: 0;
}

.categories{
  /* styles.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-in-out;
}

} 



 .products-content{
  padding: 80px;
  text-align: center; 
  padding: 20px;
  max-width: 1400px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  
 }


.card-container {
  padding-top: 30px;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto auto auto;;
  justify-content: space-between;
  gap: 1% 1%; 
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  text-size-adjust:100% ;
}


/* .buy-btn{
  border: 2px solid #0c0b0b;
  background-color: rgba(30, 28, 28, 0.991);
  width: 300;
  margin: auto auto 2px;
} */

.buy-btn {
  border: 2px solid #0c0b0b;
  background-color: rgba(30, 28, 28, 0.991);
  /* width: 300px;  */
  color: rgba(234, 242, 242, 0.935);
  text-align: center;
}



@media screen and (max-width:1400px){
  .card-container{
    grid-template-columns: auto auto auto;
  }
}


/* .card:last-child{
  margin-right: auto;
} */

/* navBar */

.navBar{
  margin-bottom: 200px;
  position: fixed;
  background-color: rgba(30, 28, 28, 0.991);
  width: 100vw;
  z-index: 999;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

@media screen and (max-width: 600px) {

  .navBar {
    /* Adjust styles for smaller screens */
    margin-bottom: 100px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    /* Add additional styles as needed */
  }

  .navBar .toolBar {
    margin-left: auto;
    margin-right: auto;
  }
  .navBar .phone-number{
    display: none;
  }

  /* Adjust specific styles for smaller screens inside your Navbar component */
  .navBar .MuiIconButton-root {
    /* Example: reduce margin for IconButton */
    margin: 1;
  }

  .navBar .MuiTypography-root {
    /* Example: adjust styles for Typography component */
    font-size: 14px;
    /* margin: 5px */
  }

  .products-content{
    margin: 0;
  }
  .card-container  {
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
  }
  .categories .MuiImageList-root{
    flex-wrap: wrap;
  }
  
  /* .card-container .MuiCard-root {
  } */
  .card-container .MuiCardMedia-root{
    height: 200px;
  }
}

@media screen and (max-width: 950px) {
  .navBar .toolBar {
    margin-left: auto;
    margin-right: auto;
  }
}






