

.App-link {
  color: rgba(238, 240, 235, 0.955);
}

.rightContent-navBar{
  margin-left: auto;
}
/* about/footer style */

.footer {
  background-color :transparent;
  color: inherit;
  padding: 20px;
  position: relative;
  font-family: inherit;
  /* display: flex;
  justify-content: space-around; */
}

.line {
  border-top: 2px solid #ccc;
  margin: 20px 0; /* Adjust margin for spacing */
  width: 91pc;
}
/* YourComponent.css */

.social-media {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

.social-icon {
  margin: 0 10px; /* Adjust margin as needed */
  color: white;
  transition: color 0.3s ease; /* Add smooth color transition on hover */

  /* Add additional styles if needed */
}

.instagram {
  color: white;
    /* Vendor prefixes for background-clip */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.whatsapp {
  color: white;
}

.instagram:hover {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  
}

.whatsapp:hover {
  background: #00cc66; /* Change color to green on hover */
}

.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* flex-direction: column; Arrange items in a column */
  align-items: flex-start; /* Center align items horizontally */
  /* text-align: center; Center align text */
}

.footer-item{
  order: 1;
  font-weight: 100;
}

/* home styles */
.head{
  text-align: right;
}

 .products-content{

  text-align: center; /* Center align the content */
  padding: 20px;
  margin-left: 8%;
  margin-right: 8%;
  
  
  
 }


.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribute cards evenly */
  gap: 70px 3px; /* Add some gap between cards */
  max-width: 1500px; /* Set a maximum width for the card container */
}

/* navBar */

.navBar{
  margin: auto;
}

.cardContent{
  
  background-color: rgba(30, 28, 28, 0.991);
}




